<div class="nav">
    <div class="nav__left">
        <div class="input-box__text">
            <div class="facebook-logo">
                <img src="/assets/img/facebook.png" width="40px" height="40px"  alt="">
            </div>
            <label for="search-input">
                <input type="text" id="search-input" name="search" placeholder="Search faceboook">
            </label>
        </div>
    </div>
    <div class="nav__middle">
        <div class="facebook-icons">
            <div class="facebook-icons__icon active"><i class="ri-home-2-fill"></i></div>
            <div class="facebook-icons__icon"><i class="ri-flag-2-line"></i></div>
            <div class="facebook-icons__icon"><i class="ri-movie-line"></i></div>
            <div class="facebook-icons__icon"><i class="ri-group-2-line"></i></div>
            <div class="facebook-icons__icon"><i class="ri-microsoft-line"></i></div>
        </div>
    </div>
    <div class="nav__right">
        <div class="facebook-Services">
            <div class="user-icon">
                <img src="/assets/img/img6.jpg" alt="user-img" class="round-img">
            </div>
            <div class="facebook-Services__service"><i class="ri-grid-fill"></i></div>
            <div class="facebook-Services__service"><i class="ri-messenger-fill"></i></div>
            <div class="facebook-Services__service"><i class="ri-notification-4-fill"></i></div>
            <div class="facebook-Services__service"><i class="ri-arrow-down-s-fill"></i></div>
        </div>
    </div>
</div>