.create-post {
    @include Component_box(10,15,10);
    background-color:white;

    &__image {
        @include img-round(40)
    }
    &__buttons {
        @include flex(space-around,center);
        padding-top: rem(10);
        margin-top: rem(10);
        border-top: 1px solid #e4e4e4;

        &__button {
            @include flex(space-between,center);
            font-size: rem(18);

            span { color: #656565;}

            @for $i from 1 to 10 {
                &:nth-child(#{$i}) {
                    color: random-rgb();
                    font-size: 1.5rem;
                }
            }
        }
    }
}