<div class="wrapper">
    <ul class="facebook-shortcuts">
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-user-fill"></i>
            <span class="facebook-shortcuts__shortcut--text">Friends</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-group-2-line"></i>
            <span class="facebook-shortcuts__shortcut--text">Groups</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-movie-line"></i>
            <span class="facebook-shortcuts__shortcut--text">Watch</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-store-2-line"></i>
            <span class="facebook-shortcuts__shortcut--text">Marketplace</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-history-fill"></i>
            <span class="facebook-shortcuts__shortcut--text">Memories</span>
        </li>
    </ul>

    <h4 class="saperator">Your shortcuts</h4>

    <ul class="facebook-favorites">
        <li class="facebook-favorites__favorite">
            <div class="favorite-images">
                <img src="/assets/img/gallery-01.png" alt="">
            </div>
            <span class="favorite-text">part one</span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-images">
                <img src="/assets/img/gallery-03.jpg" alt="">
            </div>
            <span class="favorite-text">part two</span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-images">
                <img src="/assets/img/gallery-04.png" alt="">
            </div>
            <span class="favorite-text">part tree</span>
        </li>
    </ul>
</div>