<div class="wrapper">
    <div class="stories">
        <div class="story story-1">
            <img src="/assets/img/img6.jpg" alt="user-img">
            <div class="story__username">Nour hamse</div>
        </div>
        <div class="story story-2">
            <img src="/assets/img/img6.jpg" alt="user-img">
            <div class="story__username">maxamed ismaacil</div>
        </div>
        <div class="story story-3">
            <img src="/assets/img/img6.jpg" alt="user-img">
            <div class="story__username">yoonis axmed</div>
        </div>
        <div class="story story-4">
            <img src="/assets/img/img6.jpg" alt="user-img">
            <div class="story__username">maria ahmed</div>
        </div>
        <div class="story story-5">
            <img src="/assets/img/img6.jpg" alt="user-img">
            <div class="story__username">karine benzime</div>
        </div>
        <div class="story story-6">
            <img src="/assets/img/img6.jpg" alt="user-img">
            <div class="story__username">thomes moller</div>
        </div>
    </div>

    <div class="create-post">
        <div class="input-box__text">
            <img src="/assets/img/img6.jpg" alt="" class="create-post__image">
        <label for="create-post">
            <input type="text" id="create-post" placeholder="what`s on your mind, Nour ?">
        </label>
        </div>
        <div class="create-post__buttons">
            <div class="create-post__buttons__button">
                <i class="ri-video-add-fill"></i>
                <span>Live video</span>
            </div>
            <div class="create-post__buttons__button">
                <i class="ri-emotion-happy-line"></i>
                <span>feeling activity</span>
            </div>
            <div class="create-post__buttons__button">
                <i class="ri-image-line"></i>
                <span>phote video</span>
            </div>
        </div>
    </div>
    <div class="create-room">
        <div class="create-room__button">
            <i class="ri-video-add-fill"></i>
            <span>Create room</span>
        </div>
        <div class="create-room__images">
            <img src="https://picsum.photos/id/114/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/154/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/244/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/544/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/766/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/77/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/218/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/622/100/180" alt="" class="create-room__image">
        </div>
    </div>

    <div class="News-feed">
        <header  class="News-feed__header">
            <div class="News-feed__header__post-userimage">
                <img src="/assets/img/img6.jpg" alt="">
            </div>
            <div class="News-feed__header__post-meta">
                <div class="News-feed__header__post-meta__name">Nour Homsi</div>
                <div class="News-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="data">2d ago</div>
                </div>
            </div>
            <div class="News-feed__header__options">....</div>
        </header>
        <section class="News-feed__feed">
            <p class="News-feed__feed__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum ratione, earum neque omnis, harum dignissimos quasi totam blanditiis ab sapiente similique fugiat, debitis ullam quaerat aut.</p>
            <img class="News-feed__feed__image" src="https://picsum.photos/id/456/600/340" alt="" width="100%">
        </section>
        <footer class="News-feed__footer">
            <div class="News-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="News-feed__footer__Comments">
                19 comments
            </div>
        </footer>
        <div class="News-feed__comments-box">
            <div class="input-box__text">
                <img src="/assets/img/img6.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Nour?">
                </label>
            </div>
        </div>
    </div>
    <div class="News-feed">
        <header  class="News-feed__header">
            <div class="News-feed__header__post-userimage">
                <img src="/assets/img/img6.jpg" alt="">
            </div>
            <div class="News-feed__header__post-meta">
                <div class="News-feed__header__post-meta__name">Nour Homsi</div>
                <div class="News-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="data">2d ago</div>
                </div>
            </div>
            <div class="News-feed__header__options">....</div>
        </header>
        <section class="News-feed__feed">
            <p class="News-feed__feed__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum ratione, earum neque omnis, harum dignissimos quasi totam blanditiis ab sapiente similique fugiat, debitis ullam quaerat aut.</p>
            <img class="News-feed__feed__image" src="https://picsum.photos/id/567/600/340" alt="" width="100%">
        </section>
        <footer class="News-feed__footer">
            <div class="News-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="News-feed__footer__Comments">
                19 comments
            </div>
        </footer>
        <div class="News-feed__comments-box">
            <div class="input-box__text">
                <img src="/assets/img/img6.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Nour?">
                </label>
            </div>
        </div>
    </div>
    <div class="News-feed">
        <header  class="News-feed__header">
            <div class="News-feed__header__post-userimage">
                <img src="/assets/img/img6.jpg" alt="">
            </div>
            <div class="News-feed__header__post-meta">
                <div class="News-feed__header__post-meta__name">Nour Homsi</div>
                <div class="News-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="data">2d ago</div>
                </div>
            </div>
            <div class="News-feed__header__options">....</div>
        </header>
        <section class="News-feed__feed">
            <p class="News-feed__feed__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum ratione, earum neque omnis, harum dignissimos quasi totam blanditiis ab sapiente similique fugiat, debitis ullam quaerat aut.</p>
            <img class="News-feed__feed__image" src="https://picsum.photos/id/331/600/340" alt="" width="100%">
        </section>
        <footer class="News-feed__footer">
            <div class="News-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="News-feed__footer__Comments">
                19 comments
            </div>
        </footer>
        <div class="News-feed__comments-box">
            <div class="input-box__text">
                <img src="/assets/img/img6.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Nour?">
                </label>
            </div>
        </div>
    </div>
    <div class="News-feed">
        <header  class="News-feed__header">
            <div class="News-feed__header__post-userimage">
                <img src="/assets/img/img6.jpg" alt="">
            </div>
            <div class="News-feed__header__post-meta">
                <div class="News-feed__header__post-meta__name">Nour Homsi</div>
                <div class="News-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="data">2d ago</div>
                </div>
            </div>
            <div class="News-feed__header__options">....</div>
        </header>
        <section class="News-feed__feed">
            <p class="News-feed__feed__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum ratione, earum neque omnis, harum dignissimos quasi totam blanditiis ab sapiente similique fugiat, debitis ullam quaerat aut.</p>
            <img class="News-feed__feed__image" src="https://picsum.photos/id/123/600/340" alt="" width="100%">
        </section>
        <footer class="News-feed__footer">
            <div class="News-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="News-feed__footer__Comments">
                19 comments
            </div>
        </footer>
        <div class="News-feed__comments-box">
            <div class="input-box__text">
                <img src="/assets/img/img6.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Nour?">
                </label>
            </div>
        </div>
    </div>
    <div class="News-feed">
        <header  class="News-feed__header">
            <div class="News-feed__header__post-userimage">
                <img src="/assets/img/img6.jpg" alt="">
            </div>
            <div class="News-feed__header__post-meta">
                <div class="News-feed__header__post-meta__name">Nour Homsi</div>
                <div class="News-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="data">2d ago</div>
                </div>
            </div>
            <div class="News-feed__header__options">....</div>
        </header>
        <section class="News-feed__feed">
            <p class="News-feed__feed__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum ratione, earum neque omnis, harum dignissimos quasi totam blanditiis ab sapiente similique fugiat, debitis ullam quaerat aut.</p>
            <img class="News-feed__feed__image" src="https://picsum.photos/id/23/600/340" alt="" width="100%">
        </section>
        <footer class="News-feed__footer">
            <div class="News-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="News-feed__footer__Comments">
                19 comments
            </div>
        </footer>
        <div class="News-feed__comments-box">
            <div class="input-box__text">
                <img src="/assets/img/img6.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Nour?">
                </label>
            </div>
        </div>
    </div>
</div>