<div class="wrapper">
    <h4>Sponsered</h4>

    <div class="facebook-sponsers">
        <div class="facebook-sponsers__sponser">
            <img src="/assets/img/work-02.jpg" alt="" class="facebook-sponsers__sponser--image">
            <div class="facebook-sponsers__sponser--text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cumque iusto iure laudantium recusandae vero voluptatibus rerum officiis. Dolores veritatis 
            </div>
        </div>
        <div class="facebook-sponsers__sponser">
            <img src="/assets/img/work-03.jpg"  alt="" class="facebook-sponsers__sponser--image">
            <div class="facebook-sponsers__sponser--text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime officia et esse vitae mollitia voluptatibus qui explicabo aliquid quia? quaerat eaque?
            </div>
        </div>
    </div>
    <h2 class="saperator">your Pages</h2>

    <div class="facebook-pages">
        <div class="facebook-pages__page">
            <img src="/assets/img/illustrator.png"  alt="" class="facebook-pages__page--image">
            <div class="facebook-pages__page--text">
                Adobe Illustator
            </div>
        </div>
        <div class="facebook-pages__page">
            <img src="/assets/img/indesign.png"  alt="" class="facebook-pages__page--image">
            <div class="facebook-pages__page--text">
                Adobe Indesign
            </div>
        </div>
        <div class="facebook-pages__page">
            <img src="/assets/img/photoshop.png"  alt="" class="facebook-pages__page--image">
            <div class="facebook-pages__page--text">
                Adobe Photoshop
            </div>
        </div>
    </div>

    <h2 class="saperator">contacts</h2>

    <div class="facebook-contacts">
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/98/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/22/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/34/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/76/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/55/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/26/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/37/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/23/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/19/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/985/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/726/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/345/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/700/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/554/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/256/200/300"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                name
            </div>
        </div>
    </div>
</div>